body {
    
}
.principal{

    background: #CCCCCC
    pedding: 30px;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: #ffffff;
    padding: 20px;
}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%;
}


#banner {
    width: 100%;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}


